In [2]:
pip install pandas

Requirement already satisfied: pandas in c:\users\harshvardhan\appdata\local\programs\python\python313\lib\site-packages (2.3.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\harshvardhan\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.3.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\harshvardhan\appdata\roaming\python\python313\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\harshvardhan\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\harshvardhan\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\harshvardhan\appdata\roaming\python\python313\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.2 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [3]:
import pandas as pd
df=pd.read_csv(r"c:\Users\HarshVardhan\Downloads\salesdata.csv")
print(df.head ())
print(df.info())

         Date Region SalesPerson     Product  UnitsSold  UnitPrice  Revenue  \
0  2025-02-21  South       Priya      Laptop         18      21907   394326
1  2025-01-15   East       Rohit  Smartwatch         25      23777   594425
2  2025-03-13  North        Neha       Phone         27      32693   882711
3  2025-03-02  North       Karan       Phone         13      56745   737685
4  2025-01-21  North       Aditi  Smartwatch         14      47928   670992

     Profit
0   78865.2
1  118885.0
2  176542.2
3  147537.0
4  134198.4
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date         200 non-null    object
 1   Region       200 non-null    object
 2   SalesPerson  200 non-null    object
 3   Product      200 non-null    object
 4   UnitsSold    200 non-null    int64
 5   UnitPrice    200 non-null    int64
 6   Revenue      200 non-null    int64
 7   Profit       200 non-null    float64
dtypes: float64(1), int64(3), object(4)
memory usage: 12.6+ KB
None

Question 1: Check for missing values in the dataset.

In [4]:
df_missing =df.isnull().sum()
print("Missing values in each colum :")
print(df_missing)

Missing values in each colum :
Date           0
Region         0
SalesPerson    0
Product        0
UnitsSold      0
UnitPrice      0
Revenue        0
Profit         0
dtype: int64

Question 2: Show the summary statistics (describe()) for numerical columns.

In [5]:
summary_stats = df.describe()
print("summary statistics for numerical columns:")
print(summary_stats)

summary statistics for numerical columns:
        UnitsSold     UnitPrice       Revenue         Profit
count  200.000000    200.000000  2.000000e+02     200.000000
mean    15.930000  30700.875000  4.948621e+05   98972.418000
std      8.077831  16758.388252  4.105670e+05   82113.402244
min      3.000000   5009.000000  3.368700e+04    6737.400000
25%      8.000000  15537.500000  1.829940e+05   36598.800000
50%     17.000000  28478.500000  3.391890e+05   67837.800000
75%     23.000000  46471.500000  7.296232e+05  145924.650000
max     29.000000  59553.000000  1.672401e+06  334480.200000

Question 3:Display all sales made in the “North” region.

In [6]:
north_sales = df[df["Region"] == "North"]
print("Sales made in the North Region ")
print(north_sales)

Sales made in the North Region
           Date Region SalesPerson     Product  UnitsSold  UnitPrice  Revenue  \
2    2025-03-13  North        Neha       Phone         27      32693   882711
3    2025-03-02  North       Karan       Phone         13      56745   737685
4    2025-01-21  North       Aditi  Smartwatch         14      47928   670992
6    2025-03-28  North        Aman       Phone         18      51892   934056
8    2025-03-16  North       Aditi       Phone          8      28624   228992
14   2025-01-02  North       Aditi  Smartwatch          6      15478    92868
16   2025-01-30  North      Simran       Phone         10      24262   242620
17   2025-02-07  North       Priya      Laptop         28      58295  1632260
21   2025-01-21  North       Aditi  Headphones          6      18568   111408
33   2025-03-03  North       Rohit      Laptop          5      49247   246235
37   2025-02-20  North      Simran  Headphones          7       9621    67347
46   2025-01-18  North       Aditi      Laptop          7       6531    45717
47   2025-01-04  North        Aman       Phone         25      45940  1148500
52   2025-03-31  North        Aman       Phone         20      39674   793480
67   2025-01-02  North       Karan  Headphones          5       9632    48160
68   2025-01-06  North       Priya       Phone          3      44056   132168
74   2025-03-31  North        Aman  Headphones          7      13258    92806
77   2025-03-15  North        Neha  Smartwatch          5      11371    56855
78   2025-03-03  North      Simran  Headphones         23      58358  1342234
90   2025-02-22  North      Simran      Tablet         16      59553   952848
93   2025-03-30  North       Rohit  Headphones         15      15167   227505
95   2025-02-10  North       Rahul      Laptop          6      22260   133560
99   2025-03-06  North       Rahul  Headphones          4      55612   222448
100  2025-03-30  North       Rohit  Headphones         10      32285   322850
104  2025-01-01  North       Karan  Smartwatch          4      10622    42488
105  2025-01-08  North       Priya      Tablet         24      11767   282408
115  2025-02-10  North       Rohit  Smartwatch         29      40358  1170382
119  2025-03-13  North       Rohit  Smartwatch         17      14111   239887
129  2025-03-27  North       Rahul  Headphones          8      23935   191480
131  2025-03-06  North        Neha  Smartwatch          8      18234   145872
132  2025-02-16  North       Aditi  Smartwatch         20      43328   866560
141  2025-03-20  North       Rahul  Smartwatch          8      11469    91752
142  2025-01-15  North       Priya      Tablet          3      35105   105315
144  2025-02-11  North      Simran      Laptop         17      31386   533562
146  2025-02-20  North       Aditi      Laptop         12      50587   607044
148  2025-02-21  North       Priya  Smartwatch         19      44051   836969
156  2025-02-01  North       Rohit       Phone         22      25618   563596
158  2025-02-28  North        Aman      Tablet          7      44756   313292
170  2025-03-25  North       Rohit      Tablet         27      10287   277749
177  2025-01-27  North        Neha      Laptop         10      56146   561460
179  2025-03-18  North       Rohit       Phone         10      19231   192310
183  2025-01-27  North       Karan  Smartwatch          5      33253   166265
184  2025-01-09  North       Priya  Smartwatch          5      47078   235390
186  2025-02-06  North       Aditi      Tablet         20      22988   459760
192  2025-02-01  North       Karan  Headphones         20      13567   271340
194  2025-02-21  North       Rahul       Phone         24      10256   246144
198  2025-01-12  North      Simran  Smartwatch          7      10415    72905

       Profit
2    176542.2
3    147537.0
4    134198.4
6    186811.2
8     45798.4
14    18573.6
16    48524.0
17   326452.0
21    22281.6
33    49247.0
37    13469.4
46     9143.4
47   229700.0
52   158696.0
67     9632.0
68    26433.6
74    18561.2
77    11371.0
78   268446.8
90   190569.6
93    45501.0
95    26712.0
99    44489.6
100   64570.0
104    8497.6
105   56481.6
115  234076.4
119   47977.4
129   38296.0
131   29174.4
132  173312.0
141   18350.4
142   21063.0
144  106712.4
146  121408.8
148  167393.8
156  112719.2
158   62658.4
170   55549.8
177  112292.0
179   38462.0
183   33253.0
184   47078.0
186   91952.0
192   54268.0
194   49228.8
198   14581.0

Question 4:Show all records where UnitsSold > 20.

In [7]:
unit_sold=df[df["UnitsSold"]>20]
print(unit_sold)

           Date Region SalesPerson     Product  UnitsSold  UnitPrice  Revenue  \
1    2025-01-15   East       Rohit  Smartwatch         25      23777   594425
2    2025-03-13  North        Neha       Phone         27      32693   882711
10   2025-01-24  South       Priya      Tablet         26      15488   402688
11   2025-01-03   West      Simran       Phone         23      27574   634202
13   2025-02-22   East       Karan  Smartwatch         28      48221  1350188
..          ...    ...         ...         ...        ...        ...      ...
188  2025-02-13   East       Rohit  Smartwatch         21      17219   361599
189  2025-01-24   West       Rohit  Headphones         21       5235   109935
190  2025-03-20   East       Karan      Tablet         23      47929  1102367
194  2025-02-21  North       Rahul       Phone         24      10256   246144
195  2025-03-03   West       Rahul      Laptop         23      24019   552437

       Profit
1    118885.0
2    176542.2
10    80537.6
11   126840.4
13   270037.6
..        ...
188   72319.8
189   21987.0
190  220473.4
194   49228.8
195  110487.4

[68 rows x 8 columns]

Question 5:Filter sales where Revenue is greater than ₹500,000.

In [8]:
sales_above_500k=df[df["Revenue"]>500000]
print(sales_above_500k)

           Date Region SalesPerson     Product  UnitsSold  UnitPrice  Revenue  \
1    2025-01-15   East       Rohit  Smartwatch         25      23777   594425
2    2025-03-13  North        Neha       Phone         27      32693   882711
3    2025-03-02  North       Karan       Phone         13      56745   737685
4    2025-01-21  North       Aditi  Smartwatch         14      47928   670992
6    2025-03-28  North        Aman       Phone         18      51892   934056
..          ...    ...         ...         ...        ...        ...      ...
182  2025-03-13   West       Rohit  Smartwatch         27      41258  1113966
185  2025-03-03   West      Simran  Smartwatch         29      45752  1326808
187  2025-02-20   West       Rohit  Headphones         28      36037  1009036
190  2025-03-20   East       Karan      Tablet         23      47929  1102367
195  2025-03-03   West       Rahul      Laptop         23      24019   552437

       Profit
1    118885.0
2    176542.2
3    147537.0
4    134198.4
6    186811.2
..        ...
182  222793.2
185  265361.6
187  201807.2
190  220473.4
195  110487.4

[78 rows x 8 columns]

Question 6:Sort the dataset by Profit in descending order.

In [9]:
profit_sorted= df.sort_values(by="Profit", ascending=False)
print(profit_sorted)

           Date Region SalesPerson     Product  UnitsSold  UnitPrice  Revenue  \
108  2025-01-11   West       Priya  Headphones         29      57669  1672401
17   2025-02-07  North       Priya      Laptop         28      58295  1632260
61   2025-02-04   East        Aman  Smartwatch         29      56128  1627712
102  2025-01-09   East       Rohit       Phone         28      55885  1564780
48   2025-03-30   West       Aditi  Smartwatch         26      57497  1494922
..          ...    ...         ...         ...        ...        ...      ...
67   2025-01-02  North       Karan  Headphones          5       9632    48160
46   2025-01-18  North       Aditi      Laptop          7       6531    45717
104  2025-01-01  North       Karan  Smartwatch          4      10622    42488
40   2025-01-03  South       Rahul  Headphones          4      10126    40504
64   2025-02-05   West       Rahul  Smartwatch          3      11229    33687

       Profit
108  334480.2
17   326452.0
61   325542.4
102  312956.0
48   298984.4
..        ...
67     9632.0
46     9143.4
104    8497.6
40     8100.8
64     6737.4

[200 rows x 8 columns]

Question 6:Find the total Revenue generated from each Region.

In [10]:
total_revenue_by_region= df.groupby("Region")["Revenue"].sum().reset_index()
print(total_revenue_by_region)

  Region   Revenue
0   East  23300033
1  North  19840235
2  South  18297086
3   West  37535064

Question 7:Identify which region has the highest total profit.

In [11]:
region_profit=df.groupby("Region")["Profit"].sum().reset_index()
print(region_profit)

  Region     Profit
0   East  4660006.6
1  North  3968047.0
2  South  3659417.2
3   West  7507012.8

Question 8:Find the average Profit per transaction in each region.

In [12]:
avg_profit_per_transaction=df.groupby("Region")["Profit"].mean().reset_index()
print(avg_profit_per_transaction)

  Region         Profit
0   East  103555.702222
1  North   84426.531915
2  South   87128.980952
3   West  113742.618182

Question 9:Which product generated the highest average revenue?

In [13]:
product_highest_avg_revenue= df.groupby("Product")["Revenue"].mean().reset_index().sort_values(by="Revenue").tail(1)
print(product_highest_avg_revenue)

      Product     Revenue
3  Smartwatch  580052.875

Question 10:How many transactions involved the product “Laptop”?

In [14]:
product_laptop_transactions=df[df["Product"]=="Laptop"]
print(product_laptop_transactions)

           Date Region SalesPerson Product  UnitsSold  UnitPrice  Revenue  \
0    2025-02-21  South       Priya  Laptop         18      21907   394326
12   2025-01-22  South        Neha  Laptop         10      10240   102400
17   2025-02-07  North       Priya  Laptop         28      58295  1632260
25   2025-01-22  South       Rahul  Laptop         11       5302    58322
26   2025-03-30   West       Aditi  Laptop          3      22022    66066
33   2025-03-03  North       Rohit  Laptop          5      49247   246235
34   2025-03-03   East        Aman  Laptop          8      53513   428104
46   2025-01-18  North       Aditi  Laptop          7       6531    45717
54   2025-01-02   West       Priya  Laptop         19      51271   974149
63   2025-03-22   West       Karan  Laptop         15      34926   523890
66   2025-01-04   West       Aditi  Laptop         11      52915   582065
70   2025-01-04   West       Aditi  Laptop         18      49243   886374
72   2025-03-04  South        Aman  Laptop          8      47563   380504
76   2025-02-03   West       Karan  Laptop          8      31734   253872
79   2025-01-14  South      Simran  Laptop         25      31069   776725
81   2025-01-15   East       Rahul  Laptop         23      17910   411930
83   2025-03-19  South        Aman  Laptop         12      17199   206388
84   2025-03-28   East      Simran  Laptop         12      20728   248736
85   2025-03-03   East      Simran  Laptop         21      28275   593775
87   2025-03-26   West        Neha  Laptop         23      20913   480999
91   2025-01-24   West       Rohit  Laptop          3      53447   160341
95   2025-02-10  North       Rahul  Laptop          6      22260   133560
98   2025-02-14   West       Karan  Laptop         10      33024   330240
107  2025-03-04   East        Aman  Laptop          5      16613    83065
113  2025-02-02  South      Simran  Laptop         14      18046   252644
126  2025-03-29   East       Priya  Laptop         13      46605   605865
130  2025-02-04   East       Rohit  Laptop          4      52077   208308
134  2025-01-03   West      Simran  Laptop         20       5846   116920
144  2025-02-11  North      Simran  Laptop         17      31386   533562
146  2025-02-20  North       Aditi  Laptop         12      50587   607044
147  2025-03-04  South       Karan  Laptop         21      41976   881496
168  2025-01-28  South      Simran  Laptop         21      44809   940989
169  2025-02-13  South       Priya  Laptop         17      56212   955604
173  2025-03-16   West        Neha  Laptop         18       6342   114156
175  2025-03-03   East       Rahul  Laptop         24      24216   581184
176  2025-01-01  South        Aman  Laptop         18      56976  1025568
177  2025-01-27  North        Neha  Laptop         10      56146   561460
193  2025-03-29   West        Aman  Laptop         12      41298   495576
195  2025-03-03   West       Rahul  Laptop         23      24019   552437
196  2025-02-27   West        Aman  Laptop          8      13162   105296
197  2025-02-21  South       Priya  Laptop          3      56712   170136

       Profit
0     78865.2
12    20480.0
17   326452.0
25    11664.4
26    13213.2
33    49247.0
34    85620.8
46     9143.4
54   194829.8
63   104778.0
66   116413.0
70   177274.8
72    76100.8
76    50774.4
79   155345.0
81    82386.0
83    41277.6
84    49747.2
85   118755.0
87    96199.8
91    32068.2
95    26712.0
98    66048.0
107   16613.0
113   50528.8
126  121173.0
130   41661.6
134   23384.0
144  106712.4
146  121408.8
147  176299.2
168  188197.8
169  191120.8
173   22831.2
175  116236.8
176  205113.6
177  112292.0
193   99115.2
195  110487.4
196   21059.2
197   34027.2

Question 11:Calculate the total revenue for each month (January, February, March).

In [15]:
total_revenue_each_month=df.groupby("Date")["Revenue"].sum().reset_index()
print(total_revenue_each_month)

          Date  Revenue
0   2025-01-01  1339274
1   2025-01-02  2271097
2   2025-01-03  1015384
3   2025-01-04  2666275
4   2025-01-05   751113
..         ...      ...
73  2025-03-27   416192
74  2025-03-28  1182792
75  2025-03-29  3858747
76  2025-03-30  2739711
77  2025-03-31  3227125

[78 rows x 2 columns]

Question 12:Find which SalesPerson sold the most different types of products

In [19]:
unique_products = df.groupby("SalesPerson")["Product"].nunique()
top_seller = unique_products.idxmax()
max_count = unique_products.max()
print(unique_products)
print(f"{top_seller} ({max_count} unique products)")

SalesPerson
Aditi     5
Aman      5
Karan     5
Neha      5
Priya     5
Rahul     5
Rohit     5
Simran    5
Name: Product, dtype: int64
Aditi (5 unique products)